################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WeatherApi/obj
/WeatherApi/.vs/WeatherApi/DesignTimeBuild
